@charset "ISO-8859-1";




#dashboard{background-color:pink};

.sizeOfImage{width: 50px;
	height: 50px
	
}

.logo {float:right;
      margin: auto 10px;
	  width: 100px;
	  height: 100px;}

.results {margin-left: auto;
     margin-right: auto}
     
.results th{background-color:black; color:white}
.results th{border:2px solid black;text-align:center;}
.results td{border:2px solid black;text-align:center;background-color:#B0E0E6

}

.progress-bar{
	width: 500px;
	height: 3em;
	background-color: #ffffff;
	border-radius: 1.5em;
	color: #000000;
	position: relative;
}

.progress-bar::before {
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: .5em;
	top: .5em;
	bottom: .5em;
	width: calc(var(--width, 0) * 1%);
	min-width: 2rem;
	max-width: calc(100% - 1em);
	background-color: #20a2df;
	border-radius: 1em;
	padding: 1em;
	
}
.button {
  background-color: #ffffff;
  border: hidden;
  color: #000000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

.diff th{background-color:white; color:black}



